<div id="<%= dom_id user %>">
  <table>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Email</strong></th>
      <th><strong>Super user flag</strong></th>
      <th><strong>Phone</strong></th>
      <th><strong>Address</strong></th>
      <th><strong>Birthday</strong></th>
    </tr>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.super_user_flag %></td>
      <td><%= user.phone %></td>
      <td><%= user.address %></td>
      <td><%= user.birthday %></td>
    </tr>
  </table>
</div>
