<p style="color: green"><%= notice %></p>

<%= link_to "Users", users_path, :class => "users-btn" %>
<%= link_to "Posts", user_posts_path(@users), :class => "posts-btn" %>
<%= link_to "Logout", logout_path, :class => "logout-btn" %>

<h1>User List</h1>
<%= link_to "Create User", new_user_path, :class => "create-btn" %>
<div class=table-div>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Super User Flag</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Birthday</th>
    <th>Operation</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.super_user_flag %></td>
    <td><%= user.phone %></td>
    <td><%= user.address %></td>
    <td><%= user.birthday %></td>
    <td><%= link_to "Show", user %><%= link_to "Edit", edit_user_path(user.id) %><%= link_to "Delete", @users_url, method: :delete %></td>
  </tr>
  <% end %>
</table>
</div>
